
{extends  '../@panelInfo.latte'}

{block title}Place Order{/block}

{block glyphicon}send{/block}

{block panel-title}Place Order{/block}

{block panel-body}

<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		{control orderForm}
	</div>
	<div class="col-lg-3"></div>
</div>

