
{extends  '../@panelInfo.latte'}

{block title}User settings{/block}

{block glyphicon}user{/block}

{block panel-title}User information{/block}

{block panel-body}

<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		{control customerForm}
	</div>
	<div class="col-lg-3"></div>
</div>