
{extends  '../@panelInfo.latte'}

{block title}Sign in / Register{/block}

{block glyphicon}lock{/block}

{block panel-title}Sign in / Register{/block}

{block panel-body}

<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		{control signRegisterForm}
	</div>
	<div class="col-lg-1"></div>
</div>
